<div>
  <input
    class="input input-bordered input-sm w-20"
    :value="c"
    @input="setBothFromC($event.target.value)"
    type="number"
  />
  <span> °C = </span
  ><input
    class="input input-bordered input-sm w-20"
    :value="f"
    @input="setBothFromF($event.target.value)"
    type="number"
  />
  <span> °F</span>
</div>

<script>
  function setup() {
    return {
      setBothFromC(v) {
        this.c = +v
        this.f = +(32 + (9 / 5) * this.c).toFixed(1)
      },
      setBothFromF(v) {
        this.f = +v
        this.c = +((5 / 9) * (this.f - 32)).toFixed(1)
      },
      init() {
        this.setBothFromC(this.c)
      },
      c: 36,
      f: 0,
    }
  }
</script>

<style>
  temperature-converter input {
    padding: 6px 12px;
  }
</style>
<style>
  temperature-converter input {
    font-size: 16px;
  }
</style>
